In [1]:
import pandas as pd

In [2]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [4]:
url = "https://www.imdb.com/chart/toptv/"


headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

In [5]:
response = requests.get(url, headers=headers)

In [6]:
if response.status_code == 200:
    # Get page content
    page_source = response.text
    # Parse with BeautifulSoup
    soup = BeautifulSoup(page_source, "html.parser")
    # Display or process the parsed page
    print(soup.prettify()[:500])
else:
    print(f"Failed to retrieve page. Status code: {response.status_code}")

<!DOCTYPE html>
<html lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width" name="viewport"/>
  <script>
   if(typeof uet === 'function'){ uet('bb', 'LoadTitle', {wb: 1}); }
  </script>
  <script>
   window.addEventListener('load', (event) => {
        if (typeof window.csa !== 'undefined' && typeof window.csa === 'function') {
            var csaLatencyPlugin = window.csa(

In [7]:
heading = soup.find("h1").text
print(heading)

Top 250 TV Shows

In [8]:
lst1 = []
for i in soup.find_all("h3","ipc-title__text"):
    lst1.append(i.text)

print(lst1)

['IMDb Charts', '1. Breaking Bad', '2. Planet Earth II', '3. Planet Earth', '4. Band of Brothers', '5. Chernobyl', '6. The Wire', '7. Avatar: The Last Airbender', '8. Blue Planet II', '9. The Sopranos', '10. Cosmos', '11. Cosmos', '12. Our Planet', '13. Game of Thrones', '14. Bluey', '15. The World at War', '16. Fullmetal Alchemist: Brotherhood', '17. Rick and Morty', '18. Life', '19. The Last Dance', '20. The Twilight Zone', '21. The Vietnam War', '22. Sherlock', '23. Attack on Titan', '24. Batman: The Animated Series', '25. Arcane', 'Recently viewed']

In [9]:
lst1= lst1[1:151]

In [10]:
lst1

['1. Breaking Bad',
 '2. Planet Earth II',
 '3. Planet Earth',
 '4. Band of Brothers',
 '5. Chernobyl',
 '6. The Wire',
 '7. Avatar: The Last Airbender',
 '8. Blue Planet II',
 '9. The Sopranos',
 '10. Cosmos',
 '11. Cosmos',
 '12. Our Planet',
 '13. Game of Thrones',
 '14. Bluey',
 '15. The World at War',
 '16. Fullmetal Alchemist: Brotherhood',
 '17. Rick and Morty',
 '18. Life',
 '19. The Last Dance',
 '20. The Twilight Zone',
 '21. The Vietnam War',
 '22. Sherlock',
 '23. Attack on Titan',
 '24. Batman: The Animated Series',
 '25. Arcane',
 'Recently viewed']

In [11]:
print(lst1)

['1. Breaking Bad', '2. Planet Earth II', '3. Planet Earth', '4. Band of Brothers', '5. Chernobyl', '6. The Wire', '7. Avatar: The Last Airbender', '8. Blue Planet II', '9. The Sopranos', '10. Cosmos', '11. Cosmos', '12. Our Planet', '13. Game of Thrones', '14. Bluey', '15. The World at War', '16. Fullmetal Alchemist: Brotherhood', '17. Rick and Morty', '18. Life', '19. The Last Dance', '20. The Twilight Zone', '21. The Vietnam War', '22. Sherlock', '23. Attack on Titan', '24. Batman: The Animated Series', '25. Arcane', 'Recently viewed']

In [12]:
name_list = []



for i in lst1:
    parts = i.split(".")
    if len(parts) > 1:  
        name_list.append(parts[1].strip())  
    else:
        print(f"Skipping item '{i}' as it doesn't contain a period.")

print(name_list)

Skipping item 'Recently viewed' as it doesn't contain a period.
['Breaking Bad', 'Planet Earth II', 'Planet Earth', 'Band of Brothers', 'Chernobyl', 'The Wire', 'Avatar: The Last Airbender', 'Blue Planet II', 'The Sopranos', 'Cosmos', 'Cosmos', 'Our Planet', 'Game of Thrones', 'Bluey', 'The World at War', 'Fullmetal Alchemist: Brotherhood', 'Rick and Morty', 'Life', 'The Last Dance', 'The Twilight Zone', 'The Vietnam War', 'Sherlock', 'Attack on Titan', 'Batman: The Animated Series', 'Arcane']

In [13]:
rating = []
for i in soup.find_all("span","ipc-rating-star--rating"):
    rating.append(i.text.strip())

print(rating)

['9.5', '9.5', '9.4', '9.4', '9.3', '9.3', '9.3', '9.3', '9.2', '9.2', '9.3', '9.2', '9.2', '9.3', '9.2', '9.1', '9.1', '9.1', '9.1', '9.0', '9.1', '9.1', '9.1', '9.0', '9.0']

In [14]:
rating

['9.5',
 '9.5',
 '9.4',
 '9.4',
 '9.3',
 '9.3',
 '9.3',
 '9.3',
 '9.2',
 '9.2',
 '9.3',
 '9.2',
 '9.2',
 '9.3',
 '9.2',
 '9.1',
 '9.1',
 '9.1',
 '9.1',
 '9.0',
 '9.1',
 '9.1',
 '9.1',
 '9.0',
 '9.0']

In [15]:
votes = []
for i in soup.find_all("span", "ipc-rating-star--voteCount"):
    votes.append(i.text.strip().replace("(", "").replace(")", "").strip())

votes

['2.2M',
 '162K',
 '224K',
 '545K',
 '906K',
 '390K',
 '389K',
 '49K',
 '498K',
 '131K',
 '46K',
 '54K',
 '2.4M',
 '33K',
 '31K',
 '208K',
 '627K',
 '44K',
 '159K',
 '97K',
 '29K',
 '1M',
 '561K',
 '122K',
 '300K']

In [16]:
tv_shows = pd.DataFrame({"Name":name_list,"Ratings":rating,"Votes":votes})
tv_shows.head(10)

                         Name Ratings Votes
0                Breaking Bad     9.5  2.2M
1             Planet Earth II     9.5  162K
2                Planet Earth     9.4  224K
3            Band of Brothers     9.4  545K
4                   Chernobyl     9.3  906K
5                    The Wire     9.3  390K
6  Avatar: The Last Airbender     9.3  389K
7              Blue Planet II     9.3   49K
8                The Sopranos     9.2  498K
9                      Cosmos     9.2  131K

In [17]:
tv_shows.to_csv("tv_shows.csv",index=False)